<div class="container">
  <div class="row justify-content-center">
    <h1 class="margin-top">Create your developer</h1>
  </div>
  <div class="row justify-content-center">
    <div class="form margin-top">
      <%= simple_form_for @developer do |f| %>
        <%= f.input :name %>
        <%= f.input :specialty %>
        <%= f.input :age %>
        <%= f.input :bio %>
        <%= f.input :daily_rate %>
        <%= f.submit "Create profile", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
