<div class="container">
	<div class="wrapper">
		<div class="profile"> 
			<%#= image_tag "https://images.unsplash.com/photo-1499557354967-2b2d8910bcca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1270&q=80", class: "thumbnail" %>
			<% if @developer.photo.attached? %>
				<%= cl_image_tag @developer.photo.key, class: "thumbnail" %>	
			<% end %>
			<h4 class="name"><%= @developer.name %></h4>
			<p class="title">Profile</p>
			<p class="title">$<%= @developer.daily_rate %></p>
			<p class="description"><%= @developer.bio %></p>

      <h4>
        Skills
        <% if current_user == @developer.owner %>
          <%= link_to "+", new_developer_developer_skill_path(@developer) %>
        <% end %>
      </h4>
      <p>
        <% @developer.developer_skills.each do |developer_skill| %>
          <%= developer_skill.skill.name %> - <%= developer_skill.years_of_experience %> years
          <% if current_user == @developer.owner %>
            <%= link_to developer_skill_path(developer_skill), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        <br>
        <% end %>
      </p>

			<button type="button" class="btn"><%= link_to "Hire developer", new_developer_booking_path(@developer) %></button>
      <% if !@reviews.empty? %>
        <% @reviews.each do |review| %>
          <h5><%= review.title %></h5>
            <% review.rating.times do %>
              <i class="fas fa-star" style="color:#ffd43d"></i>
            <% end %>
            <% (5-review.rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
          <p><%= review.content %></p>
          <br>
        <% end %>
      <% else %>
        <p>No reviews on this developer yet</p>
      <% end %>
		</div>
	</div>
</div>
