<div class="container-dev">
  <div class="wrapper">
    <div class="profile"> 
      <% if @developer.photo.attached? %>
        <%= cl_image_tag @developer.photo.key, class: "thumbnail" %>  
      <% end %>
      <h4 class="name"><%= @developer.name %></h4>
      <p class="title">Profile</p>
      <p class="title">$<%= @developer.daily_rate %></p>
      <p class="description"><%= @developer.bio %></p>

      <h4>
        Skills
        <% if current_user == @developer.owner %>
          <%= link_to "+", new_developer_developer_skill_path(@developer) %>
        <% end %>
      </h4>
      <p>
        <% @developer.developer_skills.each do |developer_skill| %>
          <%= developer_skill.skill.name %> - <%= developer_skill.years_of_experience %> years
          <% if current_user == @developer.owner %>
            <%= link_to developer_skill_path(developer_skill), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        <br>
        <% end %>
      </p>
      <%= link_to "Book", new_developer_booking_path(@developer), class: "btn" %>
      <%#= link_to "Hire developer", new_developer_booking_path(@developer)%>

  <div class="social-icons">
		<div class="icon">
			<a href="/"><i class="fab fa-dribbble"></i></a>
		</div>
		
		<div class="icon">
			<a href="#"><i class="fab fa-behance"></i></a>
		</div>
		
		<div class="icon">
			<a href="#"><i class="fab fa-twitter"></i></a>
		</div>
	</div>




    </div>
  </div>
</div>
