<div class="container margin-top-negative">
	<div class="wrapper">
		<div class="profile">
			<%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "thumbnail" %>
			<h3 class="name"><%= @developer.name %></h3>
			<p class="title">$<%= @developer.daily_rate %></p>
			<p class="description"><%= @developer.bio %></p>

      <h4>
        Skills
        <% if current_user == @developer.owner %>
          <%= link_to "+", new_developer_developer_skill_path(@developer) %>
        <% end %>
      </h4>
      <p>
        <% @developer.developer_skills.each do |developer_skill| %>
          <%= developer_skill.skill.name %> - <%= developer_skill.years_of_experience %> years
          <% if current_user == @developer.owner %>
            <%= link_to developer_skill_path(developer_skill), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        <br>
        <% end %>
      </p>

			<button type="button" class="btn"><%= link_to "Hire developer", new_developer_booking_path(@developer) %></button>
		</div>
	</div>
</div>
