<div class="container">
  <h1>Create your booking</h1>
  <h3><%= @developer.name %>'s daily rate is: $<%=@developer.daily_rate %></h3>
  <h3> <%= @developer.name %> is available at the following dates:</h3>
  <%= simple_form_for [@developer, @booking] do |f| %>
    <%= f.input :project_name %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Book the developer", class: "btn btn-primary" %>
  <% end %>
</div>
