<div class="container">
  <h1>Here is your booking</h1>
  <%= link_to "See in my dashboard", "" %>
  <p>Start date:<%= @booking.start_date %></p>
  <p>End date:<%= @booking.end_date %></p>
  <p>Developer: <%= @booking.developer.name %></p>
  <p>Renter: <%= @booking.renter.name %></p>
  <p>Total price: <%= @booking.total_price %></p>
  <p>Status: <%= @booking.status %></p>
  <%= link_to "Write a review", new_booking_review_path(@booking) %> <br>

  <h4>Reviews : </h4>
  <% @booking.reviews.each do |review| %>
    <%= review.title %>
    <%= review.rating %>
    <%= review.content %>
    <br>
  <% end %>

</div>
