<h1>Here is your booking</h1>
<p><%= @booking.start_date %></p>
<p><%= @booking.end_date %></p>
<p><%= @booking.developer %></p>
<p><%= @booking.renter %></p>
<p><%= @booking.total_price %></p>
<p><%= @booking.status %></p>
