<div class="container">
  <h1>Write a review</h1>
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit "Post review", class: "btn btn-primary" %>
  <% end %>
</div>
