<div class="container ">
  <div class="row justify-content-center">
    <h1 class="margin-top">Write a review</h1>
  </div>
  <div class="row justify-content-center">
    <div class="form margin-top">
      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (1..5).to_a %>
        <%= f.submit "Post review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
